# Project exclude paths
/node_modules/
/node_modules/@cesium/engine/
/node_modules/@cesium/wasm-splats/
/node_modules/@cesium/widgets/
/node_modules/@discoveryjs/json-ext/
/node_modules/@spz-loader/core/dist/index.js
/node_modules/@spz-loader/core/dist/index.umd.cjs
/node_modules/@spz-loader/core/LICENSE.txt
/node_modules/@spz-loader/core/README.md
/node_modules/@tweenjs/tween.js/
/node_modules/@types/body-parser/LICENSE
/node_modules/@types/body-parser/README.md
/node_modules/@types/bonjour/LICENSE
/node_modules/@types/bonjour/README.md
/node_modules/@types/connect/LICENSE
/node_modules/@types/connect/README.md
/node_modules/@types/connect-history-api-fallback/LICENSE
/node_modules/@types/connect-history-api-fallback/README.md
/node_modules/@types/estree/LICENSE
/node_modules/@types/estree/README.md
/node_modules/@types/express/
/node_modules/@types/express-serve-static-core/LICENSE
/node_modules/@types/express-serve-static-core/README.md
/node_modules/@types/html-minifier-terser/LICENSE
/node_modules/@types/html-minifier-terser/README.md
/node_modules/@types/http-errors/LICENSE
/node_modules/@types/http-errors/README.md
/node_modules/@types/http-proxy/LICENSE
/node_modules/@types/http-proxy/README.md
/node_modules/@types/json-schema/LICENSE
/node_modules/@types/json-schema/README.md
/node_modules/@types/mime/LICENSE
/node_modules/@types/mime/README.md
/node_modules/@types/node/LICENSE
/node_modules/@types/node/README.md
/node_modules/@types/node/test/
/node_modules/@types/node-forge/LICENSE
/node_modules/@types/node-forge/README.md
/node_modules/@types/qs/LICENSE
/node_modules/@types/qs/README.md
/node_modules/@types/range-parser/LICENSE
/node_modules/@types/range-parser/README.md
/node_modules/@types/retry/LICENSE
/node_modules/@types/retry/README.md
/node_modules/@types/send/LICENSE
/node_modules/@types/send/README.md
/node_modules/@types/serve-index/LICENSE
/node_modules/@types/serve-index/README.md
/node_modules/@types/serve-static/
/node_modules/@types/sockjs/LICENSE
/node_modules/@types/sockjs/README.md
/node_modules/@types/trusted-types/LICENSE
/node_modules/@types/trusted-types/README.md
/node_modules/@types/ws/LICENSE
/node_modules/@types/ws/README.md
/node_modules/@webpack-cli/configtest/lib/index.js
/node_modules/@webpack-cli/configtest/LICENSE
/node_modules/@webpack-cli/configtest/README.md
/node_modules/@webpack-cli/info/lib/index.js
/node_modules/@webpack-cli/info/LICENSE
/node_modules/@webpack-cli/info/README.md
/node_modules/@webpack-cli/serve/lib/index.js
/node_modules/@webpack-cli/serve/LICENSE
/node_modules/@webpack-cli/serve/README.md
/node_modules/@zip.js/zip.js/
/node_modules/autolinker/
/node_modules/cesium/
/node_modules/cesium/Build/Cesium/ThirdParty/Workers/zip-web-worker.js
/node_modules/cesium/Build/Cesium/Widgets/Images/
/node_modules/cesium/Build/CesiumUnminified/ThirdParty/Workers/zip-web-worker.js
/node_modules/cesium/Build/CesiumUnminified/Widgets/Images/
/node_modules/cesium/Source/Widgets/Images/
/node_modules/colorette/
/node_modules/commander/
/node_modules/copy-webpack-plugin/dist/options.json
/node_modules/copy-webpack-plugin/LICENSE
/node_modules/copy-webpack-plugin/README.md
/node_modules/css-loader/dist/options.json
/node_modules/css-loader/LICENSE
/node_modules/css-loader/README.md
/node_modules/dompurify/
/node_modules/dompurify/src/license_header
/node_modules/fastest-levenshtein/
/node_modules/find-up/
/node_modules/grapheme-splitter/
/node_modules/html-webpack-plugin/
/node_modules/import-local/
/node_modules/jsep/
/node_modules/kdbush/
/node_modules/ktx-parse/CHANGELOG.md
/node_modules/ktx-parse/dist/ktx-parse.cjs
/node_modules/ktx-parse/dist/ktx-parse.cjs.map
/node_modules/ktx-parse/dist/ktx-parse.esm.js
/node_modules/ktx-parse/dist/ktx-parse.esm.js.map
/node_modules/ktx-parse/dist/ktx-parse.modern.js
/node_modules/ktx-parse/dist/ktx-parse.modern.js.map
/node_modules/ktx-parse/LICENSE
/node_modules/ktx-parse/README.md
/node_modules/locate-path/
/node_modules/long/index.js
/node_modules/long/LICENSE
/node_modules/long/README.md
/node_modules/long/umd/index.js
/node_modules/meshoptimizer/
/node_modules/nosleep.js/
/node_modules/p-limit/
/node_modules/p-locate/
/node_modules/p-try/
/node_modules/pako/
/node_modules/path-exists/
/node_modules/pkg-dir/
/node_modules/protobufjs/
/node_modules/resolve-cwd/
/node_modules/resolve-from/
/node_modules/style-loader/
/node_modules/style-loader/dist/options.json
/node_modules/tapable/
/node_modules/tslib/
/node_modules/tslib/modules/index.js
/node_modules/undici-types/LICENSE
/node_modules/undici-types/README.md
/node_modules/webpack-cli/
/node_modules/webpack-cli/lib/bootstrap.js
/node_modules/webpack-cli/lib/index.js
/node_modules/webpack-cli/lib/plugins/CLIPlugin.js
/node_modules/webpack-cli/lib/types.js
/node_modules/webpack-cli/lib/utils/dynamic-import-loader.js
/node_modules/webpack-cli/lib/webpack-cli.js
/node_modules/webpack-merge/